.env
logs/*.log
public/uploads/products/*
public/uploads/clients/*
public/uploads/invoices/*
!public/uploads/products/.gitkeep
!public/uploads/clients/.gitkeep
!public/uploads/invoices/.gitkeep
vendor/
node_modules/
.DS_Store
Thumbs.db
*.swp
*.swo
